

.main-container {
  background-color: aqua;
  border: 4px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  box-sizing: border-box;
  background-color: #1F2937;
  border: 4px solid blue;
  height: 50px;
  width: 900px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.header .logo {
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  align-items: flex-start;
  flex: 1;
}

.header .link1 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 12px;
  margin-left: 20px;
}

.header .link2 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 12px;
  margin-left: 20px;
}

.header .link3 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 12px;
  margin-left: 20px;
}

.section1 {
  box-sizing: border-box;
  background-color: #1F2937;
  border: 4px solid blue;
  height: 200px;
  width: 900px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.section1 .web-description {
  flex: 1;
  padding-right: 30px;
}

.section1 .image {
  text-align: center;
  align-content: center;
  flex: 1;
  border: 2px solid gray;
  background-color: gray;
  height: 140px;
}

.section1 .title {
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.section1 .text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #E5E7EB;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.section1 .button {
  background-color: #3882F6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #E5E7EB;
  width: fit-content;
  border-radius: 5px;
  padding: 3px 20px;
}

.section2 {
  box-sizing: border-box;
  border: 4px solid blue;
  height: 250px;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}

.section2 .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-content: center;
  flex: 0.5;
}

.images {
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.images .test {
  box-sizing: border-box;
  flex-direction: column;
  width: 100px;
  height: 130px;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.test .image {
  border: 2px solid #3882F6;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.test .subtext {
  color: #1F2937;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.section3 {
  background-color: peachpuff;
  border: 4px solid blue;
  height: 100px;
  width: 800px;
}

.section4 {
  background-color: peachpuff;
  border: 4px solid blue;
  height: 100px;
  width: 800px;
  display: flex;
}

.col1 {
  flex: 2;
}

.col2 {
  flex: 1;
}

.footer {
  background-color: peachpuff;
  border: 4px solid blue;
  height: 100px;
  width: 800px;
}