body {
  margin: 0;
  background-color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  box-sizing: border-box;
  background-color: #1F2937;
  height: 50px;
  width: 900px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.header .logo {
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  align-items: flex-start;
  flex: 1;
}

.header .link1 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 9px;
  margin-left: 20px;
}

.header .link2 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 9px;
  margin-left: 20px;
}

.header .link3 {
  font-family: "Roboto", sans-serif;
  color: #E5E7EB;
  font-size: 9px;
  margin-left: 20px;
}

.section1 {
  box-sizing: border-box;
  background-color: #1F2937;
  height: 250px;
  width: 900px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.section1 .web-description {
  flex: 1;
  padding-right: 30px;
}

.section1 .image {
  font-family: "Roboto", sans-serif;
  text-align: center;
  align-content: center;
  flex: 1;
  border: 2px solid gray;
  background-color: gray;
  color: #E5E7EB;
  height: 140px;
  font-size: 10px;
}

.section1 .title {
  color: #F9FAF8;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.section1 .text {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #E5E7EB;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.section1 .button {
  background-color: #3882F6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #E5E7EB;
  width: fit-content;
  border-radius: 5px;
  padding: 3px 20px;
}

.section2 {
  background-color: #F9FAF8;
  box-sizing: border-box;
  height: 280px;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}

.section2 .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-content: center;
  flex: 0.5;
}

.images {
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.images .test {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  flex-direction: column;
  width: 100px;
  height: 130px;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.test .image {
  border: 2px solid #3882F6;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.test .subtext {
  color: #1F2937;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.section3 {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  align-content: center;
  background-color: #E5E7EB;
  height: 250px;
  width: 900px;
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Roboto", sans-serif;
}

.section3 .quote {
  color: #1F2937;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  padding-left: 100px;
  padding-right: 100px;
}

.section3 .author {
  color: #1F2937;
  font-size: 13px;
  font-weight: 900;
  padding-left: 100px;
  padding-right: 100px;
  text-align: right;
}

.section4 {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #F9FAF8;
  height: 200px;
  width: 900px;
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
}

.section4 .call{
  display: flex;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
  align-self: center;
  align-items: center;
  background-color: #3882F6;
}

.call .col1 {
  flex: 2;
}

.col1 .title {
  color: #F9FAF8;
  font-size: 12px;
}

.col1 .text {
  color: #E5E7EB;
  font-size: 9px;
}

.call .col2 {
  flex: 1;
  text-align: end;
}

.col2 .signup {
  color: #E5E7EB;
  font-size: 10px;
  border: 1px solid #F9FAF8;
  margin-left: 70px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #1F2937;
  box-sizing: border-box;
  height: 100px;
  width: 800px;
  text-align: center;
  align-content: center;
  height: 50px;
  width: 900px;
  color: #E5E7EB;
  font-size: 10px;
}
